.navbar-wrapper-flex-end{
    display: flex;
    justify-content: end;
}
.texte{
    color: #1F2F98;
}
.navbar{
border-radius: 40px;
}
.contexte{
  background: linear-gradient(90deg, #433FEA 0%, rgba(15, 63, 136, 0.72) 80.25%);
    color: #ffffff;
}
#contexte{
    background-color: #EDF2FB;
}
.navbar .logo-texte {
    color: #1F2F98;
    
}

.navbar .nav-link {
    color: #ffffff;
}
/*margine*/
.mt-5{
    margin-top: 5rem !important;
}
.mt-7{
    margin-top: 7rem !important;
}
.mt-10{
    margin-top: 10rem !important;
}
@media (min-width: 992px) {
    .mt-lg-0{
        margin-top: 0rem !important;
    }
}
/* button*/

.btnn-primary {
    color: #ffffff;
    background-color: #2113C1;
    border: 0px;
  }
 
.btnn-primary:hover {
    color: #2113C1;
    background-color:#ffffff;
    border-color:#ffffff ;
}
  
@media (prefers-reduced-motion: reduce) {
    .btnn-primary {
      -webkit-transition: none;
      transition: none;
    }
}

 /*card*/
 .bg-primarys{
    background-color:#88AEF2 !important;
  }

/* Heading*/

h1, .h1, h2, .h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
     font-family: "Inter", sans-serif;
    /*font-weight: 600;*/
    line-height: 1.4;
    color: #2113C1;
  }
  
  h2, .h2 {
    font-size: calc(2.0625rem + 0.75vw);
  }
  
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2.55rem;
      letter-spacing: -.05rem;
    }
  }
  
/*Avatar*/
.input{
    border: 1px solid #2113C1 !important;
}
.avatar{
    max-width: 60px;
}