{% load static %}
{%include "base.html"%}

<section id="about" class="about">
    <div class="container ccontainer">
        {% include "navbar.html" %}
      <div class="row align-items-center mt-7">
       <!-- col -->
       <div class="col-lg-6 col-12">
         <!-- content -->
         <div class="pe-lg-6 mt-3">
         <div>
           
            <h2 class="h1 fw-bold mt-3 mb-2">Who We Are ?</h2>
            <p>website visitors ignoring your idea??prospectus not recognizing your skills? let us help you....</p>
            <div class="mt-md-7 mt-9">
                <img src="{% static 'images/about.jpg' %}" alt="..." class="img-fluid w-75 ">
            </div>
           
         </div>
         </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="row mt-5 mt-lg-0">
                <!--  item -->
                <div class="col-md-6 col-12">
                  <div class="mb-3 rounded-7 shadow p-2 p-sm-3 bg-white">
                    <div class="avtar">
                <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid avatar rounded-circle w-100 ">
                    </div>
                    <h4 class="mt-1 mb-0"><a href="#">Rajia Kolleni</a></h4>
                    <p>Graduated in computer science, really passionate and excited what future awaits.....</p>
           
                  </div>
                </div>
                
                <!--  item -->
                <div class="col-md-6 col-12">
                    <div class="mb-3 rounded-7 shadow p-2 p-sm-3 bg-white">
                      <div class="avtar">
                  <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid avatar rounded-circle w-100 ">
                      </div>
                      <h4 class="mt-1 mb-0"><a href="#">Febina Sheri</a></h4>
                      <p> Graduated in physics, excited to start career and I can't wait to what the future holds me....</p>
             
                    </div>
                  </div>
                  <!--  item -->
                <div class="col-md-6 col-12">
                  <div class="mb-3 rounded-7 shadow p-2 p-sm-3 bg-white">
                    <div class="avtar">
                <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid avatar rounded-circle w-100 ">
                    </div>
                    <h4 class="mt-1 mb-0"><a href="#">Rashida V</a></h4>
                    <p>Graduated in computer science, looking for new ways to learn and to improve my skills.....</p>
           
                  </div>
                </div>
                <!--  item -->
                <div class="col-md-6 col-12">
                  <div class="mb-3 rounded-7 shadow p-2 p-sm-3 bg-white">
                    <div class="avtar">
                <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid avatar rounded-circle w-100 ">
                    </div>
                    <h4 class="mt-1 mb-0"><a href="#">Musfira Shirin</a></h4>
                    <p> 
                        graduated in computer science. Looking forward for making a difference in world.....</p>
           
                  </div>
                </div>
                
              </div>
            
        </div>
      </div>
    </div>
  </section>