{% load static %}
{% include "base.html"%}
<section>
<div class="container">
  {% include "navbar.html"%}

  <div class="row mt-7">
    <div class="col-lg-2 clo-3">
      <img src="{% static 'images/1.jpg' %}" alt="..." class="img-fluid avatar rounded-circle w-100 ">
      <h3>{{data.user}}</h3>
    </div>
    <div class="col-9">
      <div class=" mb-3 ">
        <div class="row">
          <div class="col-lg-8 col-12">
            <img src="{{data.image.url}}" class="card-img-top" alt="Wild Landscape"/>
          </div>
          <div class="col-lg-12 col-12">
            <div class="card-body">
              <h5 class="card-title">{{data.title}}</h5>
              <p class="card-text">
                {{data.desc | safe}}
              </p>
              <p class="card-text">
                <small class="text-muted"> {{data.addedtime}}</small>
              </p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  
</div>
</section>
