{% load static %}
{%include "base.html"%}

<div class="bg-image bgimg vh-100" style="background-image: url('{% static 'images/bg2.png' %}') ">
  {% include "navbar.html" %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-8 h1 mt-5 ">
        <h1 class="mt-5 mb-5 text-white">Blog scribe </h1>
        <h5 class="h5 text-white">Inscribe is the practice of making the best ideas, the most obvious.
          Publish your passions in your own way.
          Create a unique and beautiful blog easily.</h5>
      </div>

    </div>
  </div>
</div>
</div>

  <section id="blog" class="mt-4">
    <div class="container">
      <div class="row align-items-center">
        <!-- Heading -->
        <h2>Blog Category List</h2>
        <!-- End Heading -->
        <div class="overflow-hidden">
          <!-- Row Start-->
          <div class="row">


            <!-- The Modal -->
            <button type="button" class="btn btnn-primary mb-4" data-bs-toggle="modal" data-bs-target="#myModal">
              New Card
            </button>

            <!-- Modal -->
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Create Blog</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{form}}
                      {{form.media}}

                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

            
            <!-- BlogModel -->
            {% for x in blogModel %}
            <div class="col-lg-3 col-sm-6 col-12">

              <div class="item card rounded-7 mb-3 pb-2 overflow-hidden bg-primarys">
                {% comment %} <img src="{% static 'images/bg2.png' %}" alt="blog"> {% endcomment %}
                <img src="{{x.image.url }}" class="img-fluid" />
                <div class="card-body text-left h-100">
                  <h4 class="d-inline-block  card-text mb-0">{{x.title}}</h4>
                  <p class="card-text">{{x.desc |truncatechars:64 | safe}}
                  </p>
                  <div class="row">
                    <div class="col-6">
                      <p class="card-text"> {{x.addedtime}}</p>
                    </div>
                    <div class="col-6">
                      <a href="{% url 'blog' x.id %}" class="btn btn-primary">Button</a>
                      {% comment %} <button class="btn btn-primary" type="button">Read
                        More</button> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>

            </div>
            {% endfor %}

          </div>

        </div>

      </div>
    </div>
  </section>